@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-weight: 400;
  line-height: 1.4;
  background: #ff416c;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}

h1 {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  min-height: 650px;
  margin: 70px auto;
  padding: 32px;
  background-color: #faf9f9;
  -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.author {
  margin-top: 8px;
  text-decoration: underline;
}

.code {
  margin-top: 28px;
  margin-bottom: 3px;
}

.code-two {
  margin-top: 0;
  margin-bottom: 3px;
}

.github {
  margin-top: auto;
}

.github img {
  width: 72px;
}

.highlight {
  padding: 8px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  width: 64px;
  margin-right: 16px;
}

.demo-template, .demo-tag-template {
  display: flex;
  align-items: center;
}

.demo-template__img {
  border-radius: 100%;
  height: 32px;
  width: 32px;
  border: 2px solid #656565;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
  display: block;
}

.demo-tag-template__img {
  border-radius: 100%;
  height: 21px;
  width: 21px;
  background-size: cover;
  background-position: center;
  margin-right: 4px;
  display: block;
}
